<% if !user_signed_in? %>
  <br>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviewed</h1>
    <p>Bacon ipsum dolor amet turkey jowl spare ribs, jerky ham hock strip steak sausage tenderloin corned beef turducken. Fatback meatball sirloin venison chicken, boudin tri-tip short ribs pork chop.</p>
    <p><%= link_to "Sign Up to Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg center" %></p>
  </div>
<% end %>

<div class="row">
  <br>
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="img-thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: "img-fluid"), movie %>
      </div>
    </div>
  <% end %>
</div>